<extend name="Base/base" />
<block name="content">
    <div class="container-fluid">
        <form action="{:U(Server/renzheng)}" method="post">
            <div class="form-group">
                <label>您的姓名(必填):</label>
                    <input name="name" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>你的房号(必填):</label>
                <input name="sn" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>您与业主的关系(必填):</label>
                <select class="form-control" name="relation">
                    <option value="1">本人</option>
                    <option value="2">亲属</option>
                    <option value="3">租户</option>
                </select>
            </div>
            <div class="form-group">
                <label>联系电话(必填):</label>
                <input name="tel" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>身份证号码(必填):</label>
                <input name="num" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary onlineBtn">确认提交</button>
            </div>
        </form>
    </div>
</block>